html {
  font-size: 16px;
}

body, ul, ol, li, h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

body {
  background-color: #ccc;
}

a {
  color: #007bff;
}

a {
  text-decoration: none;
}

body {
  color: #333;
}

.menu__icon {
  display: block;
  width: 2rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
  background-image: url("../icon/filter-line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  left: 0;
  transition: all 0.2s ease;
}
.menu__icon.icon__close {
  background-image: url("../icon/close-line.png");
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  z-index: 100;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  background-color: #17a2b8;
}
.menu.is__open {
  top: 3rem;
  transform: translateX(0);
  display: flex;
  justify-content: center;
  align-items: start;
}
.menu.is__open ul {
  padding: 2rem;
}

.header {
  background-color: #17a2b8;
  color: #343a40;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .main__container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .main__container .main__container__text {
  text-align: center;
  margin-bottom: 1rem;
}
main .main__container .main__container__text h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
main .main__container .main__container__text .sub__title {
  font-size: 1.5rem;
}
main .main__container .main__container__text .bio {
  font-size: 1rem;
  margin-top: 0.5rem;
}
main .main__container .main__container__img img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.section {
  padding: 1rem;
  background-color: #f8f9fa;
}
.section .section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section .section__container .repos__list {
  width: 100%;
}
.section .section__container .repos__list span {
  font-size: 1.2rem;
}
.section .section__container .repos__list .progress__bar {
  border-radius: 1rem;
  height: 1rem;
  padding: 5px;
  background-color: #ccc;
  margin-top: 0.5rem;
}
.section .section__container .repos__list .progress__bar .progress__bar__percent {
  content: "";
  border-radius: 1rem;
  display: flex;
  height: 100%;
  width: 70%;
  background-color: red;
}